@import "styles.scss";

.nav-bar {
  top: 0;
  left: 0;
  width: 100%;
}

.nav-bar-logo {
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  max-width: 260px;
  max-height: 200px;
}

.nav-bar-body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  min-height: 120px;
  background-color: white;
  box-shadow: 0 0 4px 1px #888888;
}

.nav-bar-links {
  font-family: $primary_font;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
}
