<div class="nav-bar mb-5">
  <img
    class="nav-bar-logo m-0 p-0"
    src="assets/logo/png/374x281.png"
    width="70%"
    height="auto"
    alt="techshow_logo"
  />
  <div class="nav-bar-body">
    <div class="row nav-bar-links">
      <div class="col-12 h-100 w-100">
        <div class="row h-100 w-100">
          <div
            class="col-xs-1 offset-xs-1 col-sm-1 offset-sm-1 offset-sm-0 col-md-2 offset-md-2 col-lg-2 offset-lg-2 col-xl-2 offset-xl-2"
          ></div>
          <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
            <div class="d-flex flex-row h-100">
              <div
                class="col-2 nav-link"
                *ngFor="let navigationLink of navigationLinks"
              >
                <span> {{ navigationLink }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
