@import "_fonts.scss";

$primary_font: "JetBrains Mono";
$secondary_font: "Lato";

// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

// Font size
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

// primary colors
$primary-color: #ffcc31;
$primary-text-color: #ffcc31;

// secondary colors
$secondary-color: #6e3d2e;
$secondary-text-color: #6e3d2e;
