

$button_background: #ffcc31;
$button_font_color: #b9872f;

.button {
	background-color: $button_background;
	font-color: $button_font_color;
	border-radius: 0px;
	border: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;

	/*https://codepen.io/sdthornton/pen/wBZdXq*/
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}