<footer class="app__footer font-small cyan darken-3">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon
              fab
              icon="facebook"
              size="2x"
              class="white-text mr-md-5 mr-3"
            ></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <mdb-icon
              fab
              icon="twitter"
              size="2x"
              class="white-text mr-md-5 mr-3"
            ></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <mdb-icon
              fab
              icon="linkedin"
              size="2x"
              class="white-text mr-md-5 mr-3"
            ></mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    {{ year }}
    <a href="https://techshow-mu.github.io/techshow-website/">
      TechShow Podcast
    </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
